system/system/apex/com.android.vndk.current.apex
system/system/priv-app/YandexSearch/YandexSearch.apk
system/system/priv-app/YandexBrowser/YandexBrowser.apk
product/priv-app/Velvet/Velvet.apk
fs_config_dirs
fs_config_files
